* {
  transition: 0.4s;
}

.hr {
  display: block;
  height: 1px;
  border: 2em;
  border-top: 3px solid #591228;
  border-radius: 10%;
  margin: auto;
  padding: 0;
  width: 75%;
}

/*Navigation*/

.TopBar {
  background: #1c2d44;
  color: white;
  margin-bottom: 2em;
}
.TopButton {
  transition: 0.4s !important;
}
.TopButton:hover {
  color: #591228 !important;
}
/*End of Navigation*/
.button {
  height: 50px;
  margin: 0 2em 2.5em;
  transition: 0.4s;
  font-weight: bold;
}
.button:hover {
  background: #591228 !important;
  color: white !important;
}
.footer {
  margin: auto;
  text-align: center;
  color: #591228;
  width: 100%;
  display: inline-block;
}
.EchoTitle {
  float: left;
  font-weight: bold;
}
.Hide {
  display: none !important;
}
.Show {
  display: block !important;
}

/*Colors */
.darkBlueFg {
  color: #1c2d44;
}
.darkBlueBg {
  background: #1c2d44;
}

.darkRedFg {
  color: #591228;
}
.darkRedBg {
  background: #591228;
}

.whiteFg {
  color: white;
}
.whiteBg {
  background: white;
}
